<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>servlet06-lab2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCookieServlet</display-name>
    <servlet-name>AddCookieServlet</servlet-name>
    <servlet-class>web.AddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookieServlet</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCookieServlet</display-name>
    <servlet-name>FindCookieServlet</servlet-name>
    <servlet-class>web.FindCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCookieServlet</servlet-name>
    <url-pattern>/FindCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCart</display-name>
    <servlet-name>GetCart</servlet-name>
    <servlet-class>web.GetCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCart</servlet-name>
    <url-pattern>/GetCart</url-pattern>
  </servlet-mapping>
</web-app>